// bower:scss
// endbower

@import 'reset';
@import 'mixins';
@import 'fonts';
@import 'icons';

$headerfont: NotoSerifRegular, Arial, Helvetica, Sans-Serif;
$textfont: NotoSansRegular, Arial, Helvetica, Sans-Serif;
$Semibold: NotoSansBold, Arial, Helvetica, Sans-Serif;

$darkGray: #636363;
$mediumGray: #cccccc;
$lightGray: #f1f1f1;	
$linkColor: #0889fc;	
$white: #f1f1f1;
$green: #2ca53d;
$red: #e63232;

* { 
   -moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;	
}
html {
    width: 100%;
    height: 100%;
}
body {
    font-family: $textfont;
    font-size: .8em;
    color: $darkGray;
    line-height: 1.4;
    font-weight: normal;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;		
}
#map-canvas {
    width: 100%;
    min-width: 990px;
    min-height: 100%;
    padding: 0;	    
    position: absolute !important;
    top:0;
    left: 0;
    margin: 0;    	
}
h1, h2,	h3, h4, h5, h6 {
    margin: 0;		
    font-family: $headerfont;
    font-weight: normal;		
}			 
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.3em;
}
h4 {
    font-size: 1.1em;
}
h5 {
    font-size: .9em;
}
h6 {
    font-size: .7em;
}


// ----------------------------------------------------------------------------------------------
//------------------------------------- Site Wide Styles ----------------------------------------
//-----------------------------------------------------------------------------------------------
#nav_container {
    position: fixed;    
    top: 0px;
    right: 0px;
    z-index: 999; 
    width: 25%;
    height: 100%;
    background: rgba(0, 0, 0, .7);
    overflow: auto;
    overflow-x: hidden;
}
    #tweet_header {
        width: 100%;
        padding: 0 0 15px 0;
        border-bottom: 1px solid $white;
        overflow-y: hidden;
        position: relative;
    }
        #tweet_header h1 {
            font-family: $Semibold;
            font-size: 2.7em;            
            margin: 0 15px 5px 15px;
            color: $green;
            padding: 10px 0 10px 5px;
            border-bottom: 1px solid $white;
        }
        #tweet_header p {
            font-size: 1em;           
            color: $lightGray;
            padding: 8px 25px 0;
            margin: 5px 0 0;
            position: relative;
        }
            #tweet_header p span.icon-cog {
                font-size: 1.2em;
                color: $white;
                position: absolute;
                top: 10px;
                right: 35px;
                cursor: pointer;
            }
            #tweet_header p span.spin {
                color: $white;   
                position: relative;
            }   
                .spin .spinner {
                    left: 24px !important;   
                }
        #tweet_header p.tracking_terms {
            font-size: .9em;
            color: $linkColor;
            margin: 0 20px 20px 10px;
            font-family: $Semibold;
        }
        #tweet_config {
            width: 100%; 
            position: absolute;
            bottom: -75px;
        }
            #tweet_config p.input_copy {
                font-size: .6em;
                color: $mediumGray;
                margin: 0 0 0 23px;
                padding: 0;
            }
            #tweet_config .input {
                width: 50%;
                height: 28px !important;
                margin: 0 25px 0 25px;
            }
            #tweet_config .button {
                   
            }

        #live_tweets {
            width: 100%;
        }
        #tweet_list {
            list-style: none;
            padding: 0;
            margin: 0;
        }
            #tweet_list li {
                width: 100%; 
                margin: 0;
                padding: 25px 0;
                border-bottom: 1px solid $white;
                @include clear-fix();
            }
            #tweet_list li:last-child {
                border: none;
            }
                #tweet_list li .avatar {
                    float: left;
                    margin-right: 15px; 
                    padding-left: 3%;
                    width: 16%;
                }
                    #tweet_list li .avatar img {
                        border-radius: 10px;   
                    }
                #tweet_list li .user_data {
                    float: left;           
                    color: $white;
                    font-size: .8em;
                    width: 77%;
                    position: relative;
                }
                    #tweet_list li .user_data .time {
                        position: absolute;
                        top: 0px;
                        right: 0px;
                        color: $mediumGray;
                    }
                    #tweet_list li .user_data .name {
                        display: block;
                        width: 100%;
                        margin: 0 0 8px 0;
                        position: relative;
                        font-size: 1.4em;
                        font-family: headerfont;
                    }
                    #tweet_list li .user_data .name .twitter_user {                        
                        margin: 0 0 0 15px;
                    }
                         #tweet_list li .user_data .name .twitter_user a,
                         #tweet_list li .user_data .copy a {
                           color: $linkColor;
                             text-decoration: none;
                         }

        
    
    
    


       


// ----------------------------------------------------------------------------------------------
//---------------------------------- Site Wide Button Styles ------------------------------------
//-----------------------------------------------------------------------------------------------
a.button, input[type="button"].button, input[type="submit"].button, button.button {
	display: inline-block;
	line-height: 2em;
	padding: 0 25px;	
	background: $linkColor;
	border: 1px solid $mediumGray;
	position: relative;
	text-transform: capitalize;
	font-family: $Semibold;
	z-index: 1;	
	@include box-shadow(0 0 3px $mediumGray);
	cursor: pointer;	
	behavior: url(/Includes/CSS/polyfills/PIE.htc);	
	@include transition-property('background, box-shadow');
	@include transition-duration(.25s);
	outline: none;
    color: $white;
    text-decoration: none;
}
a.button span {
	padding: 0 0 0 10px;
    font-size: .9em;			
}
//-------------------------------------------Blue Button ------------------------------------
	.button.blue {
		color: $white;
	}
	.button.blue:hover,
	.button.blue:focus {	
        color: $linkColor;
		@include transition-property('background, box-shadow');
		@include transition-duration(.25s);	
		@include box-shadow(0 0 3px $linkColor);
		background-image: linear-gradient(top, rgb(241,241,241) 61%, rgb(211,225,237) 100%);		
		background-image: -o-linear-gradient(top, rgb(241,241,241) 61%, rgb(211,225,237) 100%);
		background-image: -moz-linear-gradient(top, rgb(241,241,241) 61%, rgb(211,225,237) 100%);
		background-image: -webkit-linear-gradient(top, rgb(241,241,241) 61%, rgb(211,225,237) 100%);
		background-image: -ms-linear-gradient(top, rgb(241,241,241) 61%, rgb(211,225,237) 100%);

		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0.61, rgb(241,241,241)),
			color-stop(1, rgb(211,225,237))
		);
	}
//-------------------------------------------Green Button -----------------------------------
	.button.green {
		color: $green; 
	}
	.button.green:hover,
	.button.green:focus {	
		@include transition-property('background, box-shadow');
		@include transition-duration(.25s);	
		@include box-shadow(0 0 3px $green);
		background-image: linear-gradient(top, rgb(241,241,241) 61%, rgb(220,233,222) 100%);		
		background-image: -o-linear-gradient(top, rgb(241,241,241) 61%, rgb(220,233,222) 100%);
		background-image: -moz-linear-gradient(top, rgb(241,241,241) 61%, rgb(220,233,222) 100%);
		background-image: -webkit-linear-gradient(top, rgb(241,241,241) 61%, rgb(220,233,222) 100%);
		background-image: -ms-linear-gradient(top, rgb(241,241,241) 61%, rgb(220,233,222) 100%);

		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0.61, rgb(241,241,241)),
			color-stop(1, rgb(220,233,222))
		);
	}

//-------------------------------------------Red Button -------------------------------------
	.button.red {
		color: $red; 
	}
	.button.red:hover,
	.button.red:focus {	
		@include transition-property('background, box-shadow');
		@include transition-duration(.25s);	
		@include box-shadow(0 0 3px $red);
		background-image: linear-gradient(top, rgb(241,241,241) 61%, rgb(240,220,220) 100%);		
		background-image: -o-linear-gradient(top, rgb(241,241,241) 61%, rgb(240,220,220) 100%);
		background-image: -moz-linear-gradient(top, rgb(241,241,241) 61%, rgb(240,220,220) 100%);
		background-image: -webkit-linear-gradient(top, rgb(241,241,241) 61%, rgb(240,220,220) 100%);
		background-image: -ms-linear-gradient(top, rgb(241,241,241) 61%, rgb(240,220,220) 100%);

		background-image: -webkit-gradient(
			linear,
			left top,
			left bottom,
			color-stop(0.61, rgb(241,241,241)),
			color-stop(1, rgb(240,220,220))
		);
	}


//-------------------------------------------Gray Button -------------------------------------
    .button.gray {
		color: $darkGray; 
	}
    .button.gray:hover,
    .button.gray:focus {
        @include transition-property('background, box-shadow');
        @include transition-duration(.25s);
        @include box-shadow(0 0 3px $darkGray);
        background-image: linear-gradient(top, rgb(241,241,241) 61%, rgb(211,225,237) 100%);       
        background-image: -o-linear-gradient(top, rgb(241,241,241) 61%, rgb(211,225,237) 100%);
        background-image: -moz-linear-gradient(top, rgb(241,241,241) 61%, rgb(211,225,237) 100%);
        background-image: -webkit-linear-gradient(top, rgb(241,241,241) 61%, rgb(211,225,237) 100%);
        background-image: -ms-linear-gradient(top, rgb(241,241,241) 61%, rgb(211,225,237) 100%);
        background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0.61, rgb(241,241,241)), color-stop(1, rgb(211,225,237)) );
    }



// -----------------------------------------------------------------------------------------
//----------------------------- Site Wide Input Box Styles ---------------------------------
//---------------- set class="input" and I'll give you a formatted input  ------------------
//------------------------------------------------------------------------------------------
input[type="text"].input,
input[type="password"].input,
textarea.input {
    float: left;
    clear: left;
    padding: 0 5px 0;
	color: $darkGray !important;
	font-size: 1em !important;
    margin: 0;
	line-height: 23px !important;    
    height: 25px !important;
	margin-bottom: 15px;
	border: 1px solid $mediumGray !important;
	@include box-shadow-important(0 0 3px $mediumGray);		
}
	input[type='text'].watermark {
		color: $mediumGray !important;			
	}	
input[type="text"].input.error,
input[type="password"].input.error,
textarea.error {
	@include box-shadow-important(0 0 3px $red);
}
	.ie8 input[type="text"].input.error,
	.ie8 input[type="password"].input.error {
		border: 1px solid $red;
	}


