extends layout

block content    
    #nav_container        
        span.icon-cog
        .input_container
            p.input_copy
            input.input(
                type='text'
                name='searchterms'
                id="search_tearms"            
            )
            a.button.blue(href='#', id='search') watch

    #map-canvas

    // build:js(.) scripts/vendor.js
    // bower:js
    script(src='bower_components/jquery/dist/jquery.js')  
    script(src='../scripts/main.js')
    // endbower
    // endbuild


    script(src="https://maps.googleapis.com/maps/api/js?sensor=false&key=AIzaSyAzLv-XGfssO8sOoii7Iuez65iQyXBpoP8")
        
    
        
